<h1><%= title %></h1>
<p>Welcome to <%= title %></p>


<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
          <img src="/<%= user.picPath %>" alt="profilePicture" class="img-thumbnail">
        </div>
        <div class="col-sm-4 col-md-4">
          <blockquote>
              <p><%= user.username %></p>
              <p><%= user.name %></p>
          </blockquote>
          <p> <i class="glyphicon glyphicon-envelope"><%= user.email %></i></p>
      </div>
    </div>
</div>


<div class="row">
  <h1>Events</h1>
  <div class="col-sm-6 col-md-4 trip-panel" >
    <% for (i=0; i < events.length; i++) { %>
      <div class="thumbnail">
        <img src="<%= events[i].picPath %>" alt="">
        <div class="caption">
          <h3><a href="/event/show/<%= events[i]._id %>"><%= events[i].name %></a></h3>
          <p><%= events[i].description %></p>
        </div>
      </div>
    <% } %>
  </div>
</div>
