<div class="main-header">
  <div class="intro">
      <div class="container text-center">
          <img class="img-thumbnail" src="<%= user.picPath %>" alt="" width="140">
          <h1 class="name"><%= user.name %></h1>
          <div class="title"><p><%= user.username %></p></div>
          <div class="profile">
              <p>Profile info goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet.</p>
          </div><!--//profile-->
      </div><!--//container-->
  </div><!--//intro-->

  <div class="contact-info">
      <div class="container text-center">
          <ul class="list-inline">
              <li class="email"><i class="fa fa-envelope"></i><a href="mailto: <%= user.email %>"><%= user.email %></a></li>
          </ul>
      </div><!--//container-->
  </div><!--//contact-info-->
</div>

<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Events <%= user.username %> created:</h2>
                <hr class="small">
                <div class="row">
                    <% for (i=0; i < events.length; i++) { %>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="/event/show/<%= events[i]._id %>">
                                <img class="img-portfolio img-responsive" src="<%= events[i].picPath %>">
                            </a>
                            <h1><%= events[i].name %></h1>
                            <h3><%= events[i].description %></h3>
                        </div>
                    </div>
                  <% } %>
                </div>
                <!-- /.row (nested) -->
                <a href="/event" class="btn btn-dark">View More Events</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<% if(voting.length !== 0) {%>
<div id="people-in" class="light-text">
  <p>Events wich <%= user.username %> voted for:</p>
  <% for (i=0; i < voting.length; i++) { %>
    <p>
      <%= voting[i].event_id.name %>
    </p>
    <% } %>
</div>
<% } %>
