<h1><%= title %></h1>
<p>Welcome to <%= title %></p>


<div class="row">
  <div class="col-sm-6 col-md-4 trip-panel" >
    <% for (i=0; i < places.length; i++) { %>
      <div class="thumbnail">
        <img src="<%= places[i].picPath %>.png" alt="">
        <div class="caption">
          <h3><%= places[i].place_id %></h3>
          <p><%= places[i].description %></p>
        </div>
      </div>
    <% } %>
  </div>
</div>
