<div class="main-header">
  <h1 class="center text-header one-line-text">Edit Event</h1>
</div>
<div class="row">
  <div class="col-sm-6 col-md-offset-3">
    <form action="/event/edit/<%= events._id %>" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Event name</label>
        <input type="text" name="name" class="form-control"  value="<%= events.name %>">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" name="description" class="form-control" placeholder="<%= events.description %>"></textarea>
      </div>
      <div class="form-group">
      <label for="place_id">Place</label> <br>
      <input list="place" name="place_id" placeholder="<%= events.place_id %>">
      <datalist id="place" class="dropdown">
        <option value="Pista">
        <option value="Paseo de la Chopera">
        <option value="Rosa Jardón">
        <option value="Rafael Finat">
        <option value="Mayor">
        <option value="Señores de Luzon">
        <option value="Ribera de Curtidores">
        <option value="Guatemala">
        <option value="Eduardo Morales">
        <option value="Hermanos Álvarez Quintero">
      </datalist>
      </div>
      <div class="form-group">
        <label for="deadline">Deadline</label>
        <input type="date" name="deadline" class="form-control" placeholder="<%= events.deadline %>">
      </div>
      <div class="form-group">
        <label for="goal">Goal</label>
        <input type="number" name="goal" class="form-control" value="<%= events.goal %>">
      </div>
      <div class="form-group">
        <label for="picPath">Upload a photo</label>
        <input type="file" name="photo">
      </div>
      <button type="submit">Update my event!</button>
    </form>
  </div>
</div>
