
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%=title%>
                <small>Vote for your favorites!</small>
            </h1>
        </div>
    </div>
<div class="row">
<% for (i=0; i < events.length; i++) { %>
            <div class="col-md-6 portfolio-item">
                <a class="box" href="/event/show/<%= events[i]._id %>">
                    <img class="img-responsive" src="<%= events[i].picPath %>" alt="">
                </a>
                <h3>
                    <a href="/event/show/<%= events[i]._id %>"><%=events[i].name%></a>
                </h3>
                <p><%=events[i].description%></p>
            </div>
      <% } %>
  </div>
        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->



    </div>
