<div class="row main-header container-fluid">
    <div class="col-lg-12">
        <h1 class="title"><%= title %>
        </h1>
    </div>
</div>
<div class="container">
<!-- Portfolio Item Heading -->
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header"><%= events.name %>
          <small>Event Details</small>
      </h1>
  </div>
</div>

  <div class="row">
    <div class="col-sm-8 box2">
      <img src="<%= events.picPath %>" alt="placePicture" class="img-thumbnail">
    </div>
    <div class="col-sm-4 vote-column">
      <progress value="<%= events.totalPledged %>" max="<%= events.goal %>"></progress>
      <h2 class="total"><%= events.totalPledged %></h2><br>
      <h4 class="light-text">
            pledged of
            <span><%= events.goal %></span> goal</h4>

      <% if (user) { %>
        <button id='vote' <% if(voted){ %> disabled <% } %> class="btn btn-info btn-lg" name="vote"><% if(voted) {%> Thanks for voting <% } else {%>Vote for this event<% } %></button>
        <% } else { %>
        <button id='fake-vote' class="btn btn-info btn-lg" name="fake-vote" onclick="window.location.href='/login'">Vote for this event</button>
        <% } %>
        <div class="time-box">
        <h4><span class="large-strong"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= events.timeRemaining.days %></span>
        <%= events.timeRemaining.unit  %> to finish</h4>
        </div>
        <hr>
        <p><%= events.description %></p>
    </div>
  </div>
  <div class="row people-box">
    <div class="col-sm-8">
    <% if(voting.length !== 0) {%>
    <div id="people-in" class="light-text">
    <h4>People who voted this event:</h4>
    <% for (i=0; i < voting.length; i++) { %>
    <p>
    <button class="btn btn-default"><%= voting[i].user_id.username %></button>
  </p>
  <% } %>
</div>
<% } %>

</div>
  </div>

<% if (user) { %>
  <% if((user._id).toString() == (events.creator_id).toString()){ %>
    <nav aria-label="...">
  <ul class="pager">
    <li><a href="/event/edit/<%= events._id %>">Edit</a></li>
    <li><a href="/event/delete/<%= events._id %>">Delete</a></li>
  </ul>
</nav>
    <% } %>
      <% } %>

        <script type="text/javascript">
          var eventInfo = <%- JSON.stringify({
            currentEvent: events,
            currentUser: user
            }) %>;
        </script>

      <div class="row">
          <div class="col-lg-12">
              <h3 class="page-header">Other Events</h3>
          </div>
          <% for (i=0; i < allEvents.length; i++) { %>
          <div class="col-sm-3 col-xs-6">
              <a class="box3" href="/event/show/<%= allEvents[i]._id %>">
                  <img class="img-responsive portfolio-item" src="<%= allEvents[i].picPath %>" alt="">
              </a>
              <h3><a href="/event/show/<%= allEvents[i]._id %>"><%= allEvents[i].name %></a></h3>
          </div>
        <% } %>
      </div>
</div>
<script src="/javascripts/voting.js"></script>
